.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header .header__body {
    display: flex;
    justify-content: space-between;
}

.header .header__body h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #5cb85c;
    font-weight: 700;
}
