html, body {
    min-width: 676px;
}

.main__header {
    margin: auto;
}

.main__footer {
    bottom: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    background: linear-gradient(#485563, #29323c);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__footer a {
    padding: 15px;
}